theme = "gruvbox_dark_hard"

[editor]
line-number = "relative"
mouse = false
cursorline = true
color-modes = true
auto-completion = false
bufferline = "multiple"
idle-timeout = 0
text-width = 100

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
character = "▏"

[editor.whitespace]
render.tab = "all"

[editor.whitespace.characters]
tab = "→"

[editor.statusline]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[keys.insert]
j = { j = "normal_mode" }

