# This is Git's per-user configuration file.
[user]
	name = Patrik Persson
	email = patrikcpersson@gmail.com
# Please adapt and uncomment the following lines:
#	name = Patrik Persson
#	email = patrikcpersson@gmail.com
